<!DOCTYPE html>
<head>

	<!-- Facebook Conversion Code for fb_right_promo -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6017760030131';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>

<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6017760030131&amp;value=0&amp;currency=USD" /></noscript>

</head>

<body>
	<div class="top_box">
			<img src='<%=asset_path "home_banner_4generations.jpg" %>'>
		<div id="top_box_text">
			<h1>Captain's Log</h1>
			<h2>Interviews of you, to pass to future generations.</h2>
		</div>
	</div>
	<a href="#middle_headline">
		<div id="top_center_image">
				<img src='<%=asset_path "looking on laptop 2.jpg" %>'>
		</div>
	</a>
	<a href="#middle_headline" data-scroll data-speed="1000" data-easing="easeInOutCubic" data-url="false">
		<div id="top_arrow">
			<img src='<%=asset_path "down_arrow.png" %>'>
		</div>
	</a>	
	<div class="container bottom_box">
		<div class="row">
			<div class="middle col-md-12">
				<div id="middle_headline">
					<h2>Life is about the journey. But we forget the details.</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="left col-md-6">
				<div id="details">
					<div id="details_two">
						<p><span>This isn't social media.</span> A Captain's Log is a private library of videos of you talking about what’s on your mind. You'll be given custom, computer-generated prompts or you can be interviewed anonymously by a professional. Sessions are only 20 minutes or so. That's it.</p>
					</br>
				</br>
					</br>
					</div>
					<div id="details_one">
						<p>Imagine watching your 14-year-old self talk about your life plans. <span> Imagine watching your father in college, talking about his first date with your mom. Imagine giving your 21-year-old daughter your log from when you had your first boss. Revisit the thoughts you had before you left that job, decided to move, ended that relationship. You'll be able to revisit your past self, share it with family, or even erase it.</span></p>
					</div>
				</div>
			</div>
			<div class="center_line">
			</div>
			<div class="right col-md-6">
				<div id="signup">
					<h1>Start your Captain's Log</h1>
					<%= link_to "NEW CAPTAIN'S LOG", landing_pages_signup_path, :style => "width:300px; padding: 20px 0px; id:signup_btn", :class => "btn btn-success btn-lg" %>
					<p id="signup_para">It's harder than a selfie. But easier than a journal. And better than forgetting the journey. Try it.</p>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div id="footer"> 
			<p>© 2014 <%= link_to "Captain's Log", landing_pages_home_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "About", landing_pages_about_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:a friend or family">Share</a></p>
	</footer>

	<script src="https://www.dropbox.com/s/1jndd0xds0f3z6o/smooth-scroll.js"></script>
</body>


