<!DOCTYPE html>
<head>


</head>

<body>
	<div class="top_box">
			<img src='<%=asset_path "home_banner_4generations.jpg" %>'>
		<div id="top_box_text">
			<h1>Captain's Log</h1>
			<h2>What if Oprah interviewed you, so you don't have to keep a journal.</h2>
		</div>
	</div>
	<a href="#middle_headline">
		<div id="top_center_image">
				<img src='<%=asset_path "HuntersRecording.png" %>'>
		</div>
	</a>
	<a href="#middle_headline" data-scroll data-speed="1000" data-easing="easeInOutCubic" data-url="false">
		<div id="top_arrow">
			<img src='<%=asset_path "down_arrow.png" %>'>
		</div>
	</a>	
	<div class="container bottom_box">
		<div class="row">
			<div class="middle col-md-12">
				<div id="middle_headline">
					<h2>Life is about the journey. But we forget the details.</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="left col-md-6">
				<div id="details">
					<div id="details_two">
						<p><span>How it works —</span> You and the professional interviewer sign an NDA. Then you pick a time to set aside 60 minutes to video chat. She'll introduce herself and ask about what's on your mind. Aftward, you'll get sent the recording. That's it! You can do it once or twice a year.</p>
					</br>
				</br>
					</br>
					</div>
					<div id="details_one">
						<p>Why do it —<span> We spend all this time and energy thinking about things: your first boss, your next job, a girl or boy you're into, your family, your goals, why the world is the way it is. We obsess over these things, but then we forget it all. Do you remember what you were thinking when you were a freshman in college? Before your first kiss? When you started your first job? Many of us wish we kept a journal, but it's hard and doesn't capture your body language. Captains Log is easy. You'll be able to revisit your past self, share it with family, or even erase it.</span></p>
					</div>
				</div>
			</div>
			<div class="center_line">
			</div>
			<div class="right col-md-6">
				<div id="signup">
					<h1>Start your Captain's Log</h1>
					<%= link_to "NEW CAPTAIN'S LOG", landing_pages_signup_path, :style => "width:300px; padding: 20px 0px; id:signup_btn", :class => "btn btn-success btn-lg" %>
					<p id="signup_para">It's harder than a selfie. But easier than a journal. And better than forgetting the journey. Try it.</p>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div id="footer"> 
			<p>© 2014 <%= link_to "Captain's Log", landing_pages_home_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "About", landing_pages_about_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:a friend or family">Share</a></p>
	</footer>

	<script src="https://www.dropbox.com/s/1jndd0xds0f3z6o/smooth-scroll.js"></script>
</body>


