<!DOCTYPE html>
<head>

</head>

<body>
	<div class="top_box">
			<img src='<%=asset_path "home_banner_4generations.jpg" %>'>
		<div id="top_box_text">
			<h1>Captain's Log</h1>
			<h2>Interviews of you, to pass to future generations.</h2>
		</div>
	</div>
	<a href="#middle_headline">
		<div id="top_arrow">
			<img src='<%=asset_path "down_arrow.png" %>'>
		</div>
	</a>	
	<a href="#middle_headline">
		<div id="top_center_image">
				<img src='<%=asset_path "looking on laptop.jpg" %>'>
		</div>
	</a>
	<div class="container bottom_box">
		<div class="row">
			<div class="middle col-md-12">
				<div id="middle_headline">
					<h2>Life is about the journey. But we forget the details.</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="left col-md-6">
				<div id="details">
					<div id="details_one">
						<p>Imagine if you could watch a video of your grandfather from his college days, talking about his first date with your grandma. <span>Imagine if you could watch a video of your 7-year-old self talking about what you want to be when you grow up. Imagine if you could give your 21-year-old daughter your log from when you had your first boss. Imagine revisiting how you felt before you left that job, asked for that position, ended that relationship.<span></p>
					</div>
					<div id="details_two">
						<p><span>This isn't social media.</span> A Captain's Log is a private library of your thoughts on video — yours to remind yourself of your past, to pass along to family in the future, or even destroy if you chose. Every few months, you schedule 20 minutes to do an interview through your webcam. You can respond to a custom list of questions, or be interviewed by a professional (anonymously) or a relative if you'd like. Quick, fun, and secure.</p>
					</div>
				</div>
			</div>
			<div class="center_line">
			</div>
			<div class="right col-md-6">
				<div id="signup">
					<h1>Start your Captain's Log</h1>
					<%= link_to "NEW CAPTAIN'S LOG", landing_pages_signup_path, :style => "width:300px; padding: 20px 0px; id:signup_btn", :class => "btn btn-success btn-lg" %>
					<p id="signup_para"><span style="color:#000">Stop being lazy.</span> It's harder than a selfie. But easier than a journal. And better than forgetting the journey. Try it.</p>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div id="footer"> 
			<p>© 2014 <%= link_to "Captain's Log", landing_pages_home_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "About", landing_pages_about_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:a friend or family">Share</a></p>
	</footer>
</body>


